body{
  background-color: #eaf6f6;
}

hr{
  border-style: dotted;
  border-bottom: none;
  width: 70%;
  border-width: 5px;
  border-color: grey;
}
label{
  padding-left: 10px;
}

h1 {
  color: #63aabc;
}

h3
{
  color: #66bfbf;
  text-decoration: underline;
}
